
.title {
    font-family: "Carter One";
  }
  .container {
    margin-top: 50px;
    text-align: center;
  }
  a{
    color: red !important;

  }
  
  .images {
    display: flex;
    max-width: 80%;
    margin: 2% auto;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .single-photo {
    width: 200px;
    height: 200px;
    align-self: auto;
    margin: 1% 1%;
    flex-grow: 1;
    vertical-align: middle;
    transition: all .5s;
  }
  
  .single-photo:hover {
    transform: scale(1.2);
  }